<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Armando Osuna">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/ilustraciones/norman.ico' %}" />
    <title>Tiendita Norman - Listita de Productitos chiquitos</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'grocery_store/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'experimental/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'grocery_store/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'grocery_store/css/templatemo-hexashop.css' %}">
    <link rel="stylesheet" href="{% static 'grocery_store/css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'grocery_store/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'grocery_store/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/sweetalertv11.3.0/dist/sweetalert2.min.css' %}">

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
</head>

<body style="background-color: #ededed;">

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->



    <!-- Start: Header -->
    {% include 'grocery_store/top_menu.html' %}
    <!-- End: Header -->


    <!-- ***** Main Banner Area Start ***** -->
    {% block header %} {% endblock%}
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products Area Starts ***** -->
    {% block container %} {% endblock%}
    <!-- ***** Products Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    {% if request.path != "/grocery_shop/menu/" %}
    <footer>
        <div class="container">
            <div class="row">
                {% comment %}
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="{% static 'grocery_store/images/white-logo.png' %}" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">hexashop@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Men’s Shopping</a></li>
                        <li><a href="#">Women’s Shopping</a></li>
                        <li><a href="#">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.
                            <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </footer>
    {% endif %}

    <script src="{% static 'assets/sweetalertv11.3.0/dist/sweetalert2.all.min.js' %}"></script>


    <!-- jQuery -->
    <script src="{% static 'grocery_store/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'grocery_store/js/popper.js' %}"></script>
    <script src="{% static 'grocery_store/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'grocery_store/js/owl-carousel.js' %}"></script>
    <script src="{% static 'grocery_store/js/accordions.js' %}"></script>
    <script src="{% static 'grocery_store/js/datepicker.js' %}"></script>
    <script src="{% static 'grocery_store/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'grocery_store/js/waypoints.min.js' %}"></script>
    <script src="{% static 'grocery_store/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'grocery_store/js/imgfix.min.js' %}"></script>
    <script src="{% static 'grocery_store/js/slick.js' %}"></script>
    <script src="{% static 'grocery_store/js/lightbox.js' %}"></script>
    <script src="{% static 'grocery_store/js/isotope.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'grocery_store/js/custom.js' %}"></script>

    <script>
        $(function() {
            var selectedClass = "";
            $("p").click(function() {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function() {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });
    </script>
    {% block js %} {% endblock %} {% block top-js %} {% endblock %}
</body>

</html>