{% extends "grocery_store/base.html" %} 
{% load static %}
{% block head_content %}
    <title>NormanMexico - Asistencias </title>
{% endblock%} 


{% block header %}
    <div class="page-heading" id="top" style="background-image:url('/images/ilustraciones/fondo1.jpg');">
        <div class="black-filter" ></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Listado de productos</h2>
                        <span>Revisa todos los productos navegando hacia abajo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 


{% block container %}
<section class="section" id="products">
    <input type="hidden" value="2" id="page_counter">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Listado de productos</h2>
                    <span>Revisa todos los productos navegando hacia abajo</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <div class="col-lg-12 ">
              
                <form method="POST" class="menu_search">
                    {% csrf_token %}
              <fieldset>
                <input class="search_bar" name="search_bar" type="text" id="name" placeholder="Your Name" required="">
              </fieldset>
              
              <fieldset>
                <button class="search_button" type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
              </fieldset>
            </form>
            </div> 
          </div>
    </div>
    <div class="container">
        <div id="" class="row">
            {% for product in products %}    
            <div id="" class="col-lg-3">
                <div class="item">
                    <div class="thumb">
                        <div class="hover-content">
                            <ul>
                                <li><a href="{% url 'detail' %}?id={{product.id}}"><i class="fa fa-eye"></i></a></li>
                                {% comment %} <li><a href="single-product.html"><i class="fa fa-star"></i></a></li> {% endcomment %}
                                 <li><a href="#" name="send_to_cart" data-id="{{product.id}}" ><i class="fa fa-shopping-cart"></i></a></li> 
                            </ul>
                        </div>
                        <img src="/images/{{ product.image }}" alt="">
                    </div>
                    <div class="down-content">
                        <b>{{ product.name }}</b>
                        <span>${{ product.price }} MXN</span>
                        {% comment %} <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
            
        <div id="product_li" class="row">
           
        </div>
         {% comment %}    <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">></a>
                        </li>
                    </ul>
                </div>
            </div> {% endcomment %}
        </div>
        <br> <br> <br>
    </div>
    <div class="menu_no_products">
        <span>Ya no hay mas productos en la lista</span>
    </div>
</section>
{% endblock %} 


{% block js %}
    <script type="text/javascript">
        var m = 0;
        var error = 0;
        var product_obtainer_promise;
        
        console.clear()
        
        var Myelement = document.getElementById("page_counter");
            val = Myelement.value;
            var div = document.getElementById('product_li');
            if (m==0){ 
                m=1;
                console.log(Myelement.value)
                p();
            }
            
        
        window.onscroll = function() {
            if ((window.innerHeight + Math.ceil(window.pageYOffset)) >= (document.body.offsetHeight- 100 )) {
            //alert('At the bottom!')
            var Myelement = document.getElementById("page_counter");
            val = Myelement.value;
            
            console.log(Myelement.value)
            if (m==0){
               m=1;
               p();
            }}
          }
        
          function p(){
            var product_obtainer_promise = new Promise((resolve,reject) => {
                var a = ajax_product_get();
                if (a ==true){
                    resolve('Succes')
                } else{
                    reject('Failed')
                }
           });
           product_obtainer_promise.then((message)=> {
               m=0;
               val=parseInt(val)+1;
               Myelement.value=val;
           }).catch((message)=> {
               m=0;
           });
          }

          function ajax_product_get(){
            $.ajax({
                url: '{% url 'post_ajax' %}?page='+val,
                type: 'get', // This is the default though, you don't actually need to always mention it
                success: function(data) {
                    data = JSON.parse(data)
                    data.forEach(function(item) {
                        console.log(item);
                        var a=item.id ;
                        var link ='{% url 'detail' %}';
                        var data2 ='{{product.id}}';
                        console.log(`EL VALOR ES ${a}`)
                        div.insertAdjacentHTML('beforeend', `<div  class="col-lg-3">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="${link}?id=${a}"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="#" name="send_to_cart" data-id="${a}" ><i class="fa fa-shopping-cart"></i></a></li> 
                                            
                                        </ul>
                                    </div>
                                    <img src="/images/${item.image}" alt="">
                                </div>
                                <div class="down-content">
                                    <b>${ item.name }</b>
                                    <span>$ ${ item.price } MXN</span>
                                    
                                </div>
                            </div>
                        </div>`);
                        product_unit = document.getElementsByName("send_to_cart");
                    console.log("BADDEST DO")
         
                        for (let i = 0, l = product_unit.length; i < l; i++) {
                            console.log("-----------------------------------------------------------------");
                            product_unit[i].replaceWith(product_unit[i].cloneNode(true));
                            product_unit[i].addEventListener("click", function(evt) {
                                $.ajax({
                                    url: "{% url 'insert_to_cart' %}?id="+product_unit[i].getAttribute('data-id')+"&user="+"{{request.user}}",
                                    type: 'get',
                                    success: function(data) {
                                        Swal.fire(
                                            'Bien hecho!',
                                            'El producto ha sido guardado',
                                            'success'
                                        )
                                    },
                                    failure: function(response) { 
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: 'El producto no ha sido guardado',
                                            })
                                    }
                                }); 
                            });
                        }
                    });
                    
                    return true;
                   
                    }
                ,
                failure: function(response) { 
                    alert('Got an error dude');
                    return false;
                }
            }); 
            
                    return true;



          }


          function ajax_product_succes(){
            m=0;
            val=parseInt(val)+1;
            Myelement.value=val;
          }
          
          function ajax_product_error(){
            m=0;
          }


          
        console.clear()
        product_unit = document.getElementsByName("send_to_cart");
        
         
        for (let i = 0, l = product_unit.length; i < l; i++) {
            console.log(product_unit[i].getAttribute('data-id'));
            product_unit[i].addEventListener("click", function(evt) {
                $.ajax({
                    url: "{% url 'insert_to_cart' %}?id="+product_unit[i].getAttribute('data-id')+"&user="+"{{request.user}}",
                    type: 'get',
                    success: function(data) {
                        Swal.fire(
                            'Bien hecho!',
                            'El producto ha sido guardado',
                            'success'
                        )
                    },
                    failure: function(response) { 
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'El producto no ha sido guardado',
                          })
                    }
                }); 
            });
        }
    </script>
{% endblock %}




