{% extends "base.html" %} {% load static %} {% block head_content %}
<title>NormanMexico - Tiendita Norman </title>
{% endblock%} {% block container %}
<div>
    <div id="content">
        <div class="row">

            <div class="col-md-6">
                <!--panel de -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Tiendita Norman</span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="control-label mb15">Reporte Individual de Compras de Tiendita Norman</label>
                                    <input type="week" class="form-control" name="individual_report" id="usr">
                                </div>
                            </div>
                            <div class='border-bot'>
                                <input type='submit' class=' border-bot btn btn-default btn-gradient dark btn-block' value="Cargar documento">
                            </div>
                        </form>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="control-label mb15">Reporte por Tienda de Compras de Tiendita Norman</label>
                                    <input type="week" class="form-control" name="group_report" id="usr">
                                </div>
                            </div>
                            <div class='border-bot'>
                                <input type='submit' class=' border-bot btn btn-default btn-gradient dark btn-block' value="Cargar documento">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %} {% block 'js' %}
<script type="text/javascript">
</script>
{% endblock %}