{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <title>NormanMexico - Badge </title>
    <style>
        img {
            border-radius: 10%;
        }
        th, td {
            padding: 15px!important;
        }
    </style>
{% endblock%}

{% block container %}
    <div>
        <div id="content">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Generar Gafete</span>
                </div>
                <div class="panel-body bg-light pt20 pbn pl30">
                    <div class="row">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <input type="text" id="numero" name="numero" class="form-control" placeholder="Num. Empleado">
                                </div>
                                <div class="col-lg-2">
                                    <input type="hidden" id="numeros" name="numeros" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <button id="agregar_btn" name="agregar_btn" type="submit" class="btn btn-lg btn-info btn-block">Agregar</button>
                                </div>
                                <div class="col-lg-2">
                                    <button id="generar_btn" name="generar_btn" type="submit" class="btn btn-lg btn-success btn-block">Generar</button>
                                </div>
                                <div class="col-lg-2">
                                    <input type="hidden" id="msg" name="msg" value="{{msg.0}}">
                                    <button id="descargar_btn" name="descargar_btn" type="submit" class="btn btn-lg btn-warning btn-block" >Descargar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body pl30 pb5">
                    <div class="row">
                        <div class="form-group">
                                <span>Gafete(s) a Generar:</span>
                        </div>
                        <div class="form-group">
                            <div id="contenedor" class="col-lg-12">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'js' %}
    <script type="text/javascript">

        // wire up Add Item button click event
        $("#agregar_btn").click(function(event){
            event.preventDefault(); // cancel default behavior
            $.ajax({
                url:"{% url 'robot_act' %}?data="+document.getElementById("numero").value,
                type: 'get',
                success: function(data){
                    //ok
                    temporal = document.getElementById("numeros").value;
                    temporal += document.getElementById("numero").value+",";
                    document.getElementById("numeros").value = temporal;
                    strhtml = "<table><tr><td><img height='100' width='100' src='/static/images/employees/" + data["name"] + ".jpeg' alt='¡Sin Fotografia!'></td><td><b>" + data["name"] + "</b></td></tr></table>";
                    document.getElementById("contenedor").innerHTML += strhtml;
                },
                faiure: function(response){
                    //okn't
                }
            });
        });

        if(document.getElementById("msg").value==="enabled"){
            document.getElementById("descargar_btn").disabled = false;
        }
        else{
            document.getElementById("descargar_btn").disabled = true;
        }

    </script>
{% endblock %}